 <div class="container">
     <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading top-head">
                <h3>Contact Details</h3>
            </div>
            <div class="panel-body overall-card" id="all_html">
                  <div class="panel-body individual-card " *ngFor="let item of contactLists; let j=index;"  >
                    <div class="edit_this pull-right" >
                        <a (click)="editContact(j)"><i class=" far fa-edit" ></i></a>
                        <a (click)="deleteContact(j)"><i class=" fas fa-window-close" ></i></a>
                    </div>
                    
                      <h5 class="c-name"><i class="fas fa-user-circle"></i> {{item.Name}}</h5>
                     <div class="otherdet">
                            <h6 class="c-number"><i class="fas fa-mobile-alt"></i> {{item.Mobile}}</h6>
                             <h6 class="c-mail"><i class="far fa-envelope"></i> {{item.Mail}}</h6>
                     </div>
                    
                  </div>
            </div>
            <div class="panel-footer text-center">
                
                       <a class="btn" (click)="edit=false;clearfields()" id="open_mod" data-toggle="modal" data-target="#contact-det"> <i class="fas fa-plus-square"></i> Add Contact</a>
                
            </div>
        </div>
     </div>
 </div>
 <div id="contact-det" class="modal fade {{mdlSampleIsOpen ? 'in' : ''}}" role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="openModal(false)">&times;</button>
          <h4 class="modal-title">Contact details</h4>
        </div>
        <div class="modal-body">
            
          <div class="col-md-12">
          <div class="form-group">
            <label for="name">Contact Name</label>
            <input type="text" class="form-control" id="contact_name" value="" [(ngModel)]="contactName">
          </div>
        </div>
      
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">Mobile Number</label>
          <input type="text" class="form-control" id="mobile_number" value="" [(ngModel)]="contactMobile">
        </div>
      </div>
    
    <div class="col-md-12">
      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email" value="" [(ngModel)]="contactMail">
      </div>
    </div>
    <div class="col-md-12 text-center">

      <button *ngIf=!edit type="button" class="btn btn-success" (click)="addContact()" >Save</button>
      <button *ngIf=edit type="button" class="btn btn-success" (click)="UpdateContact()">Update</button>
    </div>
    <div class="clearfix"></div>
  </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="openModal(false)">Close</button>
        </div>
      </div>
  
    </div>
  </div>
 
